<h2>All Your Movies</h2>
<h1>Welcome, <%= @user.username %>! </h1>

<% @user.movies.each do |movie| %>
<ul>
  <li><%= movie.title %></li>
  <li> <%= movie.genre %> </li>
</ul>
<% end %>

<p>Click <a href="/movies/:id">here</a> to add more movies to your collection.</p>

<!--add links to add new movies or edit old ones (maybe later search by genre)-->
