<!DOCTYPE html>

<h1>Title: <%= @movies.title %></h1>
<h1>Genre: <%= @movies.genre %></h1>

<p>Click <a href="/movies/edit">here</a> to edit this movie's info.</p>


<form action="/movies/<%=@movie.id%>" method="post">
  <input type="hidden" name="_method" value="DELETE"><br>
  <input type="submit" value="delete"><br>
</form>