<h2>Welcome to Your Movie Collection!</h2>
  <p>This is your one-stop-shop for keeping track of all of the movies in your astounding movie collection.</br></br>
    If you're new here, click <a href="/signup"> here to sign up.</a></br></br>
    If you're returning to your account, <a href="/login">here to log back in.</a></p>

