<h2>Welcome to Your Movie Collection!</h2>

<h1>Log In Here!</h1>
<form action="/login" method="POST">
  <label for="user_email">User Email:</label>
  <input type="text" name="username" id="username" placeholder="example@gmail.com">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password"> 
  <input type="submit" value="Let Me In">
</form>