
<h2>Log In Here!</h2>
<form action="/login" method="POST">
  <label for="username">User Email:</label>
  <input type="text" name="username" id="username" placeholder="example@gmail.com"></br></br>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password"></br></br>
  <input type="submit" value="Let Me In">
</form>