<h2>Sign Up Here!</h2></br>
<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" placeholder="Maleficent" required></br></br>
  <label for="email">Email Address:</label>
  <input type="text" name="email" id="email" placeholder="example@gmail.com" required></br></br>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required></br></br>
  <input type="submit" value="Sign Up">
</form>



